@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	font-weight: lighter;
}

html {
	scroll-behavior: smooth;
}

body {
	height: 100vh;
	color: white;
	background-color: black;
}

.maincontainer {
	width: 75%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 50px 0;
}

#Time {
	position: relative;
	animation: time 1s 1;
}

@keyframes time {
	from {
		top: -100px;
	}
	to {
		top: 0px;
	}
}

.container1 {
	position: relative;
	animation: c1 2s 1;
}

@keyframes c1 {
	from {
		left: -300px;
		color: black;
	}
	to {
		left: 0px;
	}
}

.container2 {
	position: relative;
	animation: c2 2s 1;
}

@keyframes c2 {
	from {
		left: 300px;
		color: black;
	}
	to {
		left: 0px;
	}
}

#img {
	margin-top: 25px;
	width: 10%;
	max-width: 50px;
	transform: rotate(90deg);
	filter: invert();
	animation: arrow 1s;
	position: relative;
	animation-iteration-count: 2;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
}

@keyframes arrow {
	from {
		top: -5px;
	}
	to {
		top: 5px;
	}
}

#contato {
	margin-top: 500px;
	border: 1px solid rgb(122, 122, 122);
	border-radius: 8px;
	max-width: 200px;
	width: 75%;
	margin: 0 auto;
	transition: 0.5s;
	animation: button 5s 1;
}

@keyframes button {
	from {
		opacity: 0;
	}
	50% {
		opacity: 0.3;
	}
	to {
		opacity: 1;
	}
}

#contato:hover {
	color: black;
	background-color: rgb(122, 122, 122);
}

a {
	text-decoration: none;
	color: white;
}
